<h1>Show Place</h1>
<p><%= @place.name %></p>
<p><%= @place.phone_number %></p>
<p><%= @place.display_address.html_safe %></p>
<p><%= @place.city %></p>
<p><%= @place.nation %></p>
<p><%= @place.latitude %></p>
<p><%= @place.longitude %></p>